<%- include('../header') %>
<form action="/defects/add" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="defect_name" required>
        <label for="floatingInput">Defect Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="type" required>
        <label for="floatingInput">Type</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="area" required>
        <label for="floatingInput">Area</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="suggestion">
        <label for="floatingInput">Suggestion</label>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-warning">Submit</button>
    </div>
</form>
<%- include('../footer') %>